.elementor-5059 .elementor-element.elementor-element-8abc341{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-5059 .elementor-element.elementor-element-3a55157{text-align:left;}.elementor-5059 .elementor-element.elementor-element-3a55157 .elementor-heading-title{color:#000000E6;font-family:"Rubik", Sans-serif;font-size:30px;font-weight:700;line-height:40px;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-icon i{color:#2B6CC8;font-size:14px;}.elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-icon svg{fill:#2B6CC8;--e-icon-list-icon-size:14px;}.elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-icon{width:14px;}.elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-text, .elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-text a{color:var( --e-global-color-astglobalcolor8 );}.elementor-5059 .elementor-element.elementor-element-07754b1 .elementor-icon-list-item{font-family:"DM Sans", Sans-serif;font-weight:400;}.elementor-5059 .elementor-element.elementor-element-ed8340e{text-align:left;}.elementor-5059 .elementor-element.elementor-element-3254e10{font-family:"Rubik", Sans-serif;font-size:20px;font-weight:400;line-height:32px;}.elementor-5059 .elementor-element.elementor-element-35e8e06 .elementor-author-box__avatar img{width:92px;height:92px;border-radius:0px;}body.rtl .elementor-5059 .elementor-element.elementor-element-35e8e06.elementor-author-box--layout-image-left .elementor-author-box__avatar,
					 body:not(.rtl) .elementor-5059 .elementor-element.elementor-element-35e8e06:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-right:19px;margin-left:0;}body:not(.rtl) .elementor-5059 .elementor-element.elementor-element-35e8e06.elementor-author-box--layout-image-right .elementor-author-box__avatar,
					 body.rtl .elementor-5059 .elementor-element.elementor-element-35e8e06:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-left:19px;margin-right:0;}.elementor-5059 .elementor-element.elementor-element-35e8e06.elementor-author-box--layout-image-above .elementor-author-box__avatar{margin-bottom:19px;}.elementor-5059 .elementor-element.elementor-element-35e8e06 > .elementor-widget-container{border-style:dotted;border-width:1px 1px 1px 1px;border-color:#02010154;}.elementor-5059 .elementor-element.elementor-element-358fae1:not(.elementor-motion-effects-element-type-background), .elementor-5059 .elementor-element.elementor-element-358fae1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-astglobalcolor5 );}.elementor-5059 .elementor-element.elementor-element-358fae1 > .elementor-background-overlay{background-color:#72414100;opacity:0.82;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5059 .elementor-element.elementor-element-358fae1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:20px 0px 100px 0px;}.elementor-5059 .elementor-element.elementor-element-808e76a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:50px;}.elementor-5059 .elementor-element.elementor-element-808e76a .elementor-element-populated .elementor-heading-title{color:#FFFFFF;}.elementor-5059 .elementor-element.elementor-element-808e76a > .elementor-element-populated{color:#FFFFFF;}.elementor-5059 .elementor-element.elementor-element-808e76a .elementor-element-populated a{color:#40A3CB;}.elementor-5059 .elementor-element.elementor-element-808e76a .elementor-element-populated a:hover{color:#6EADDB;}.elementor-5059 .elementor-element.elementor-element-13721ce > .elementor-widget-container{margin:0px 300px 0px 90px;}.elementor-5059 .elementor-element.elementor-element-9da24f3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-5059 .elementor-element.elementor-element-9da24f3:after{content:"0.66";}.elementor-5059 .elementor-element.elementor-element-9da24f3 .elementor-post__meta-data span + span:before{content:"•";}.elementor-5059 .elementor-element.elementor-element-9da24f3{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-5059 .elementor-element.elementor-element-9da24f3 .elementor-post__text{margin-top:20px;}.elementor-5059 .elementor-element.elementor-element-9da24f3 .elementor-post__meta-data{font-family:"Rubik", Sans-serif;}.elementor-5059 .elementor-element.elementor-element-9da24f3 > .elementor-widget-container{margin:0px 110px 0px 110px;padding:0px 0px 0px 0px;}body.elementor-page-5059{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-5059 .elementor-element.elementor-element-13721ce > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5059 .elementor-element.elementor-element-9da24f3 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-5059 .elementor-element.elementor-element-3a55157 .elementor-heading-title{font-size:36px;line-height:43px;}.elementor-5059 .elementor-element.elementor-element-3a55157 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5059 .elementor-element.elementor-element-358fae1{margin-top:0em;margin-bottom:0em;padding:20px 10px 100px 10px;}.elementor-5059 .elementor-element.elementor-element-808e76a > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-5059 .elementor-element.elementor-element-13721ce > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5059 .elementor-element.elementor-element-9da24f3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-5059 .elementor-element.elementor-element-9da24f3:after{content:"0.5";}.elementor-5059 .elementor-element.elementor-element-9da24f3 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-5059 .elementor-element.elementor-element-4fbd6fb{width:72.628%;}.elementor-5059 .elementor-element.elementor-element-5c936c4{width:26.672%;}}/* Start custom CSS for theme-post-content, class: .elementor-element-3254e10 */.elementor-5059 .elementor-element.elementor-element-3254e10 h2 {
    color:#0b9ed9;
    padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .elementor-5059 .elementor-element.elementor-element-3254e10 h2 {
    line-height:inherit;
  }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/Rubik-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/Rubik-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2022/05/Rubik-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../../2022/05/Rubik-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/05/Rubik-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/05/Rubik-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/05/Rubik-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../../2022/05/Rubik-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2022/05/Rubik-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('../../2022/05/Rubik-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2022/05/Rubik-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('../../2022/05/Rubik-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2022/05/Rubik-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('../../2022/05/Rubik-BlackItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */